/* prettier-ignore */
:root {
  /* 背景 */
  --background-primary: #f1f3f9;
  --background-secondary: #fff;
  --background-trans: rgb(0 0 0 / 15%); /* 半透明叠层 */
  --background-backdrop: rgb(241 243 249 / 80%); /* 毛玻璃背景 */
  
  /* 文本 */
  --text-bright: #000;
  --text-normal: #333;
  --text-dim: #767676;
  --text-accent: #d4007a;
  --text-invert: #fff;

  /* 遮盖 */
  --banner-cover: linear-gradient(180deg, hsl(225deg 40% 96% / 0%) 0, hsl(225deg 40% 96% / 1.3%) 8.1%, hsl(225deg 40% 96% / 4.9%) 15.5%, hsl(225deg 40% 96% / 10.4%) 22.5%, hsl(225deg 40% 96% / 17.5%) 29%, hsl(225deg 40% 96% / 25.9%) 35.3%, hsl(225deg 40% 96% / 35.2%) 41.2%, hsl(225deg 40% 96% / 45%) 47.1%, hsl(225deg 40% 96% / 55%) 52.9%, hsl(225deg 40% 96% / 64.8%) 58.8%, hsl(225deg 40% 96% / 74.1%) 64.7%, hsl(225deg 40% 96% / 82.5%) 71%, hsl(225deg 40% 96% / 89.6%) 77.5%, hsl(225deg 40% 96% / 95.1%) 84.5%, hsl(225deg 40% 96% / 98.7%) 91.9%, var(--background-primary));
  --article-cover-horizontal: linear-gradient(180deg, hsl(0deg 0% 98% / 0%) 0, hsl(0deg 0% 98% / 1.3%) 8.1%, hsl(0deg 0% 98% / 4.9%) 15.5%, hsl(0deg 0% 98% / 10.4%) 22.5%, hsl(0deg 0% 98% / 17.5%) 29%, hsl(0deg 0% 98% / 25.9%) 35.3%, hsl(0deg 0% 98% / 35.2%) 41.2%, hsl(0deg 0% 98% / 45%) 47.1%, hsl(0deg 0% 98% / 55%) 52.9%, hsl(0deg 0% 98% / 64.8%) 58.8%, hsl(0deg 0% 98% / 74.1%) 64.7%, hsl(0deg 0% 98% / 82.5%) 71%, hsl(0deg 0% 98% / 89.6%) 77.5%, hsl(0deg 0% 98% / 95.1%) 84.5%, hsl(0deg 0% 98% / 98.7%) 91.9%, var(--background-secondary));
  --article-cover-vertical: linear-gradient(90deg, hsl(0deg 0% 98% / 0%) 0, hsl(0deg 0% 98% / 1.3%) 8.1%, hsl(0deg 0% 98% / 4.9%) 15.5%, hsl(0deg 0% 98% / 10.4%) 22.5%, hsl(0deg 0% 98% / 17.5%) 29%, hsl(0deg 0% 98% / 25.9%) 35.3%, hsl(0deg 0% 98% / 35.2%) 41.2%, hsl(0deg 0% 98% / 45%) 47.1%, hsl(0deg 0% 98% / 55%) 52.9%, hsl(0deg 0% 98% / 64.8%) 58.8%, hsl(0deg 0% 98% / 74.1%) 64.7%, hsl(0deg 0% 98% / 82.5%) 71%, hsl(0deg 0% 98% / 89.6%) 77.5%, hsl(0deg 0% 98% / 95.1%) 84.5%, hsl(0deg 0% 98% / 98.7%) 91.9%, var(--background-secondary));
  --header-shadow: 0 1px 2px rgb(0 0 0 / 6%), 0 4px 8px rgb(0 0 0 / 10%), 0 10px 20px rgb(0 0 0 / 12%);

  /* 滚动条 */
  --background-scrollbar-track: #fcfcfc;
  --background-scrollbar-thumb: #8b8b8b;
}

/* prettier-ignore */
html[data-theme='dark'] {
  /* 背景 */
  --background-primary: #1a1a1a;
  --background-secondary: #242424;
  --background-trans: rgb(255 255 255 / 15%); /* 半透明叠层 */
  --background-backdrop: rgb(26 26 26 / 80%); /* 毛玻璃背景 */

  /* 文本 */
  --text-bright: #fff;
  --text-normal: #bebebe;
  --text-dim: #8a8a8a;
  --text-accent: #24c6dc;
  --text-invert: #000;

  /* 遮盖 */
  --banner-cover: linear-gradient(180deg, hsl(0deg 0% 10% / 0%) 0, hsl(0deg 0% 10% / 1%) 8.1%, hsl(0deg 0% 10% / 4.9%) 15.5%, hsl(0deg 0% 10% / 10.4%) 22.5%, hsl(0deg 0% 10% / 17.5%) 29%, hsl(0deg 0% 10% / 25.9%) 35.3%, hsl(0deg 0% 10% / 35.2%) 41.2%, hsl(0deg 0% 10% / 45%) 47.1%, hsl(0deg 0% 10% / 55%) 52.9%, hsl(0deg 0% 10% / 64.8%) 58.8%, hsl(0deg 0% 10% / 74.1%) 64.7%, hsl(0deg 0% 10% / 82.5%) 71%, hsl(0deg 0% 10% / 89.6%) 77.5%, hsl(0deg 0% 10% / 95.1%) 84.5%, hsl(00deg 0% 10% / 98.7%) 91.9%, var(--background-primary));
  --article-cover-horizontal: linear-gradient(180deg, hsl(0deg 0% 13% / 0%) 0, hsl(0deg 0% 13% / 1.3%) 8.1%, hsl(0deg 0% 13% / 4.9%) 15.5%, hsl(0deg 0% 13% / 10.4%) 22.5%, hsl(0deg 0% 13% / 17.5%) 29%, hsl(0deg 0% 13% / 25.9%) 35.3%, hsl(0deg 0% 13% / 35.2%) 41.2%, hsl(0deg 0% 13% / 45%) 47.1%, hsl(0deg 0% 13% / 55%) 52.9%, hsl(0deg 0% 13% / 64.8%) 58.8%, hsl(0deg 0% 13% / 74.1%) 64.7%, hsl(0deg 0% 13% / 82.5%) 71%, hsl(0deg 0% 13% / 89.6%) 77.5%, hsl(0deg 0% 13% / 95.1%) 84.5%, hsl(00deg 0% 13% / 98.7%) 91.9%, var(--background-secondary));
  --article-cover-vertical: linear-gradient(90deg, hsl(0deg 0% 13% / 0%) 0, hsl(0deg 0% 13% / 1.3%) 8.1%, hsl(0deg 0% 13% / 4.9%) 15.5%, hsl(0deg 0% 13% / 10.4%) 22.5%, hsl(0deg 0% 13% / 17.5%) 29%, hsl(0deg 0% 13% / 25.9%) 35.3%, hsl(0deg 0% 13% / 35.2%) 41.2%, hsl(0deg 0% 13% / 45%) 47.1%, hsl(0deg 0% 13% / 55%) 52.9%, hsl(0deg 0% 13% / 64.8%) 58.8%, hsl(0deg 0% 13% / 74.1%) 64.7%, hsl(0deg 0% 13% / 82.5%) 71%, hsl(0deg 0% 13% / 89.6%) 77.5%, hsl(0deg 0% 13% / 95.1%) 84.5%, hsl(00deg 0% 13% / 98.7%) 91.9%, var(--background-secondary));
  --header-shadow: 0 6px 12px rgb(0 0 0 / 40%), 0 12px 24px rgb(0 0 0 / 35%), 0 1px 0 0 rgb(255 255 255 / 6%) inset;

  /* 滚动条 */
  --background-scrollbar-track: #2c2c2c;
  --background-scrollbar-thumb: #9f9f9f;
}
